$clr-background: #fef6e4;
$clr-content: #f3d2c1;
$clr-text: #272343;

.allWorkouts-container {
    max-width: 100%;
    margin: auto;
    margin-right: 20%;
}
.top-bar{
    width: 100%;

    h1 {
        text-align: center;
    }

}

.page {
    display: flex;
    margin: auto -1rem 1rem;
    margin-top: 3rem;
}
.col {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}
.workouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 3;
    margin-left: 10%;
}
.workouts > div {
    margin: 1rem;
}

.sidebar {
    flex: 1;
    align-items: baseline;
    border: solid;
    border-width: 1px;
    background: $clr-content;
    border-radius: 10px;
    margin-left: 5%;
    height: 400px;
    h2 {
        text-align: center;
    }
}
.sidebar-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10%;
    h3 {
        width:50%; 
    }
    p {
        width:50%;
        font-weight: bold;
    }
}
