$clr-background: #fef6e4;
$clr-content: #f3d2c1;
$clr-text: #272343;

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 2rem;
  background-color: $clr-background;
  width:100%;
  p{
    color: #272343;
  }
  h3{
    color:$clr-text;
  }
}

.leaflet-container {
  height: 30rem;
  width: 50rem;
  margin: auto;
  margin-top: 1rem;
}

.landing-wrapper {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  min-width: 80%;
}

.dashboard-top-bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  .MuiButton-root {
    width:1rem;
    height: 2rem;
  }

}

.dashboard-content {
  h2{
    text-align: center;
    text-decoration: underline;
  }

}
.cardRow{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.see-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  background-color: $clr-content;
}
