$clr-primary: #001e3c;
$clr-primary-dark: #0a1929;
$clr-primary-bright: #0074e7;
$clr-hover: #285887;


$white: #ffffff;

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 2rem;
}

.leaflet-container {
  height: 30rem;
  width: 50rem;
  margin: auto;
  margin-top: 5%;
}

.landing-wrapper {
  //background-image: url("../../img/landing-workout.jpg");
  background-color: white;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.cardRow{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}